.d-detail-image{
  display: block;
  height: 200px;
  overflow: hidden;
  position: relative;
}
@media(min-width: 600px) {
  .d-detail-image{
    height: 250px;
  }
}
.d-detail-image > img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  position: absolute;
  top: -40px;
}
.d-detail-title{
  font-weight: bold;
  font-size: 26px;
  font-family: $font-carmax-heading;
  color: #FFF;
  padding: 10px 0px 10px 24px;
  background-color: $color-carmax-lightblue;
}

.d-detail-top{
  margin: 10px 0 20px 0;
  height: 48px;

  > div{
    margin-left: 24px;
    width: 40%;
    float: left;

    > .d-detail-top-name{
      font-family: $font-carmax-text;
      color: $font-carmax-text;
    }
    > .d-detail-top-number{
      font-family: $font-carmax-heading;
      color: $color-carmax-blue;
      font-size: 24px;
    }
  }
}

.d-link{
  text-decoration: none;
}

.d-detail-button{
  margin: 10px 12px 20px 12px;
  padding: 15px 0 15px 16px;
  background-color: $color-carmax-yellow;
  font-weight: bold;
  font-family: $font-carmax-heading;
  text-transform: uppercase;

  color: black;
}


.d-detail-subtitle{
  font-size: 22px;
  color: $color-carmax-blue;
  margin: 16px 22px 6px 22px;
}

.d-detail-container{
  margin: 10px 12px 20px 12px;
  padding: 16px 22px 14px 22px;
  font-family: $font-carmax-heading;
  color: $color-carmax-text;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

  > h3{
    margin: 0px 0px 16px 0px;
    font-size: 16px;
    font-weight: bold;
    color: $color-carmax-blue;
    font-family: $font-carmax-text;
  }

  > .d-detail-spec{
    margin: 0 0px 12px 0px;
    font-size: 16px;
    font-weight: 200;
    border-bottom: solid 2px #ebebeb;
    overflow: auto;

    > .d-detail-spec-name{
      float: left;
      color: $color-carmax-blue;
      font-family: $font-carmax-text;
    }
    > .d-detail-spec-data{
      float: right;
      font-family: $font-carmax-text;
    }
  }
  > hr{
    margin: 22px -22px 22px -22px;
    border: none;
    height: 1.5px;
    background-color: #ebebeb;
  }
}

.d-review{

  > h3{
    font-size: 16px;
    font-weight: bold;
    color: $color-carmax-blue;
    font-family: $font-carmax-text;
  }
  > .d-review-user{
    margin-top: 4px;
    font-family: $font-carmax-text;
    font-size: 12px;
    font-weight: 300;
  }
  > .d-review-stars{
    color: $color-carmax-yellow;
    margin: 10px 0 10px 0;
  }
  > p{
    margin: 0;
    font-family: $font-carmax-text;
    font-size: 16px;
    font-weight: 300;
  }
}
