.d-rec-container{
  background-color: #F2F2F2;
}

.d-car {
  margin: 20px auto 0 auto;
  background-color: #FFF;
  display: block;
  text-decoration: none;
  color: $color-carmax-text;
  width: 90%;


  .d-car-image{
    display: block;
    height: 45vw;
    overflow: hidden;
    position: relative;
  }
  .d-car-image > img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    position: absolute;
    top: -11vw;
  }
  .d-car-text {
    font-size: 14px;
    padding: 4px;
    display: inline-block;
    
  }
  .d-title {
    font-weight: bold;
    font-size: 18px;
    font-family: $font-carmax-heading;
    color: $color-carmax-blue;
  }
  .d-desc{
    font-family: $font-carmax-text;
  }

  .d-car-bookmark-button{
    display: none;
  }
  .d-car-bookmark-empty{
    display: block;
  }
  .d-car-bookmark-full{
    display: none;
  }
  .d-car-bookmark-button:checked ~ .d-car-bookmark-empty{
    display: none;
  }
  .d-car-bookmark-button:checked ~ .d-car-bookmark-full{
    display: block;
  }
  .d-car-icon{
    float: right;
    margin: 14px 10px 10px 0;

    .fa-star{
      color: $color-carmax-yellow;
    }
  }
}