// Colors

$color-carmax-blue: #054FA0;
$color-carmax-blue-button: #01386B;
$color-carmax-blue-dropdown: #012648;
$color-carmax-lightblue: #77C2E6;
$color-carmax-yellow: #FFD51D;
$color-carmax-yellow-button: #FDDE58;
$color-carmax-text: #5A5C63;

// Fonts
$font-carmax-heading: Monserrat;
$font-carmax-text: Roboto;