// home.scss

#home-scoreboard {
	text-align: center;
}

#home-scoreboard-settings {
	text-align: right;
	height: 0;
	overflow: visible;
	font-weight: bold;
	display: block;

	i {
		cursor: pointer;
		color: #CCC;
		padding: 12px $content-padding;
		font-size: 20px;
	}
}

#home-scoreboard-header {
	font-size: 72px;
	font-weight: bold;
	padding: 32px $content-padding;
	border-bottom: 1px dashed #CCC;

	span {
		font-size: 12px;
		font-weight: normal;
	}
}

$scoreboard-trio-height: 110px;
#home-scoreboard-trio-container {
	font-size: 0;
	border-bottom: 1px dashed #CCC;
}
.home-scoreboard-trio {
	box-sizing: border-box;
	border-left: 1px dashed #CCC;
	width: 33.3333%;
	display: inline-block;
	vertical-align: top;
	height: $scoreboard-trio-height;
	font-size: 0;

	.k-aligner {
		height: $scoreboard-trio-height;
	}
	.k-aligned {
		font-size: 16px;
	}
	.k-top {
		font-weight: bold;
		font-size: 30px;
	}
	.k-bottom {
		font-size: 12px;
		color: #999;
	}
	span {
		font-size: 14px;
	}
}
.home-scoreboard-trio:nth-child(1) {
	border-left: none;
}

#home-recent-activities {
	> .k-container > .k-title {
		font-weight: bold;
		padding: 20px 0 10px;
		font-size: 14px;
	}
}

$home-activity-height: 65px;
$home-activity-image-height: 50px;
.home-activity-element {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	height: $home-activity-height;
	width: 100%;

	.k-left {
		flex: 0 0 auto;
		width: $home-activity-image-height + 20px;
		height: $home-activity-image-height;

		img {
			width: $home-activity-image-height;
			height: $home-activity-image-height;
			border-radius: $home-activity-image-height/2;
		}
	}
	.k-right {
		flex: 0 0 auto;
		color: #CCC;
		font-weight: bold;
		line-height: $home-activity-height;
		font-size: 22px;
	}

	.k-center {
		flex: 1 1 auto;
		font-size: 14px;
	}
	.k-title {
		font-weight: bold;
	}
}
