@font-face {
	font-family: 'tempo';
	src: url("https://s3-us-west-1.amazonaws.com/fm-msc/i330/tempostd-heavycondensed-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@mixin transition($params...) {
	transition: $params;
	-webkit-transition: $params;
}

html, body,
.k-select {
	font-family: 'Open Sans', sans-serif;
}

html, body,
ul, ol, li, select, option {
	padding: 0;
	margin: 0;
}

.k-global-title {
	font-family: tempo, sans-serif;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
}

.k-controller {
	display: none;
}

.k-container {
	padding: 0 $content-padding;
}

.k-aligner, .k-aligned {
	display: inline-block;
	vertical-align: middle;
}

.k-spacer {
	&.k-spacer-content {
		height: $content-padding;
	}
}
.k-notification {
	background-color: #68b004;
	padding: 6px 0;
}

.k-page-header {
	padding: 24px 0;

	> .k-title {
		@extend .k-global-title;
		font-size: 28px;
		color: $color-carnival-blue;
	}
	.k-alt-title {
		@extend .k-global-title;
		font-size: 28px;
		color: $color-carnival-red;
	}
	.k-back {
		text-decoration: none;
		color: $color-carnival-red;
		font-size: 14px;
	}
}

.k-button {
	text-decoration: none;
	color: #000;

	&.k-button-full {
		display: block;
		text-align: center;
		padding: 6px $content-padding;
		margin: $content-padding/2 0;
		background-color: #F3F3F3;
	}
	&.k-button-danger {
		background-color: $color-carnival-blue;
		color: #FFF;
	}
	&.k-button-inverse {
		background-color: #F00;
		color: #FFF;
	}
	&.k-button-table {
		display: block;
		border-bottom: 1px dashed #CCC !important;
		padding: 8px 0;
	}

	&:link, &:visited {
		border-color: $color-carnival-blue;
	}
	&:hover, &:active, &:focus {
		border-color: $color-carnival-red;
	}
}

.k-question-container {
	padding-top: 36px;
}
.k-question {
	font-size: 14px;
}
.k-select {
	width: 100%;
	border: none;
	border-bottom: 2px solid $color-carnival-blue;
	padding: 8px 0 4px;
	background-color: transparent;

	.k-default {
		color: #CCC;
	}
}

.k-danger-block {
	margin: 0 (-$content-padding/2);
	background-color: $color-carnival-red;
	padding: $content-padding/2;
	color: #FFF;
}

.k-call {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 8px 0;
	background-color: $color-carnival-blue;
	color: #FFFFFF;
	margin-top: 6px;
	border-radius: 500px;
}

.k-well {
	background-color: #DFDFDF;
}
