// import other styles
@import 'd_variables';

// global variables
$global-nav-background-color: $color-carmax-blue;
$global-nav-color: #FFF;

$global-sidebar-background-color: #0F0;
$global-sidebar-color: #FFF;

// Animation
$animation-duration: 0.5s;
$animation-style: cubic-bezier(0.3, 0.3, 0.02, 1);


$content-padding: 24px;
