body{
	font-family: 'Open Sans', sans-serif;
}

#event-order{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	margin: 20px;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	border: none;
}

#event-categories-button{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	margin: 20px;
	float: right;
	padding: 1px 0;
	width: 124px;
	text-align: center;
	color: black;
	font-size: 20px;
}

#event-categories-controller{
	display: none;
}

#event-categories-controller:not(:checked) ~ #event-categories-container{
	display: none;
}

#event-categories-controller:checked ~ #event-categories-container{
	display: inline-block;
}

#event-categories-container{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	margin: 0 20px;
	clear: both;
}

.event-category{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	width: 124px;
	margin: 18px;
	float: left;
	text-align: center;
}

.event-category label{
	display: block;
	width: 100%;
}

#event-filter-button{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	width: 284px;
	margin: 18px;
	float: left;
	text-align: center;
	color: black;
}

.event-category input[type="radio"]{
	display: none;
}

.event-category input[type="radio"]:checked ~ label{
	background-color: #0a407d;;
	color: white;
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

.event{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	height: 200px;
	margin: 20px;
	clear: both;
}

.event-image{
	overflow: hidden;
	height: 120px;
}

.event-image img{
	height: 100%;
}

.event-text h2, #event-categories-container h2{
	font-size: 18px;
	margin: 5px 0 0 5px;
	color: #0a407d;
}

.event-text p{
	font-size: 14px;
	margin: 0 0 0 5px;
	color: #555;
}

#filter-content{
	width: 90%;
	margin: 0 auto;
}

#filter-content h2{
	font-size: 18px;
	margin: 30px 0 10px 5px;
	color: #0a407d;
}

#filter-content select{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	margin: 0 20px 0 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	border: none;
}

#filter-interests{
	overflow: auto;
}

.filter-interest{
	width: 32%;
	margin: 1px 9%;
	float: left;
}

#filter-button-area{
	margin: 20px auto;
	width: 80%;
	overflow: auto;
	padding: 6px 0;
}

.filter-button{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	width: 40%;
	margin: 20px 5%;
	float: left;
	text-align: center;
	color: black;
}

#shipspace-content{
	overflow: auto;
}

#shipspace-content h2{
	font-size: 18px;
	color: #0a407d;
}

#shipspace-content > h2{
	margin: 20px auto 10px;

	text-align: center;
}

#shipspace-content a{
	text-decoration: none;
}

#shipspace-profile-pic-container{
	width: 60%;
	margin: 20px auto;
	border-radius: 50%;
	overflow: hidden;
}

#shipspace-profile-pic-container img{
	width: 100%;
	height: auto;
	display: block;
}

#shipspace-connect-button{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	width: 50%;
	margin: 0 25%;
	text-align: center;
	color: black;
}

.shipspace-story{
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	margin: 30px 20px;
	clear: both;
	height: 100px;
	position: relative;
}

.shipspace-story-image{
	float: left;
	width: 30%;
	height: 100%;
	overflow: hidden;
}

.shipspace-story-image img{
	height: 100%;
	width: auto;
	display: block;
}

.shipspace-story-text{

	margin: 5px 5px 5px 100px;
}

.shipspace-story h2{
	margin: 0;
}

.shipspace-story p{
	font-size: 14px;
	margin: 0;
	color: #555;
}

.shipspace-story-share{
	text-align: center;
	height: 46px;
	width: 46px;
	border-radius: 50%;
	overflow: hidden;
	color: white;
	background-color: #0a407d;
	position: absolute;
	bottom: -28px;
	right: 4px;
	margin: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.shipspace-story-share i{
	margin: 7px 2px 0 0;
}

#shipspace-story-share-button{
	display: none;
}

#shipspace-story-share-close{
	display: none;
	width: 100%;
	height: 70vh;
	position: fixed;
	top: 0;
	background-color: grey;
	opacity: 0.4;
}

#shipspace-story-share-button:checked ~ #shipspace-share-container,
#shipspace-story-share-button:checked ~ #shipspace-story-share-close{
	display: block;
}

#shipspace-share-container{
	display: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	margin: 0;
	clear: both;
	width: 100%;
	height: 30vh;
	position: fixed;
	bottom: 0;
	background-color: white;
}

#shipspace-share-container h2{
	margin: 20px;
}

#shipspace-share-container-soc{
	margin: 20px;
}

#shipspace-share-container-soc i{
	margin: 11px;
}

/* Social Media Colors */
.fa-facebook-square{
	color: #3B5998;
}
.fa-tumblr-square{
	color: #36465D;
}
.fa-twitter-square{
	color: #00ACED;
}
.fa-snapchat-square{
	color: #fffc00;
}
.fa-pinterest-square{
	color: #cb2027;
}
.fa-vimeo-square{
	color: #4EBBFF;
}
.fa-youtube-square{
	color: #bb0000;
}
.fa-pied-piper-pp{
	color: #2E9F48;
}
.fa-linkedin-square{
	color: #007bb5;
}
.fa-google-plus-square{
	color: #dd4b39;
}
.fa-git-square{
	color: #333333;
}
.fa-bitbucket-square{
	color: #205081;
}

.connect-social{
	margin: 15px auto 15px auto;
	display: block;
	width: 90%;
	height: 48px;
	border-bottom: 2px solid #0a407d;
}

.connect-social p{
	float: left;
	font-size: 36px;
	margin: 0;
}

.social-connect, .social-disconnect{
	float: right;
}

.social-disconnect{
	display: inline;
}

.social-connect, .connect-social-button{
	display: none;
}

.connect-social-button:checked ~ .social-connect{
	display: inline;
}

.connect-social-button:checked ~ .social-disconnect{
	display: none;
}

.d-selected-option{
	border-radius: 500px;
	padding: 4px 16px;
	background-color: #C1C1C1;
}